---
// src/layouts/BlogPost.astro
import MainLayout from './MainLayout.astro';
import ShareButtons from '../components/ShareButtons.astro';
import '../styles/post.css';

const { title, date, headings = [] } = Astro.props;
const url = new URL(Astro.url.pathname, Astro.site).href;
const tocHeadings = headings.filter(({ depth }) => depth >= 2 && depth <= 3);
---

<MainLayout title={title}>
  <article class="prose">
    <h1>{title}</h1>
    {date && <time>{date.toLocaleDateString('ja-JP')}</time>}
    {tocHeadings.length > 0 && (
      <details class="post-toc" open aria-label="Table of contents">
        <summary>Table of contents</summary>
        <ul>
          {tocHeadings.map((heading) => (
            <li class={`depth-${heading.depth}`}>
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))}
        </ul>
      </details>
    )}
    <slot />

    <ShareButtons title={title} url={url} />
  </article>
</MainLayout>
